.nav img{
    width: 10rem;
}
body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container img {
    width: 200px;
}
.container img {
    width: 115px;
    padding: 7px;
}
.login {
    color: yellow;
}
nav ul a {
    font-size: 1.3rem;
}
hr {
    background-color:#1565C0 ;
    height: 2.1rem;
    margin: 0;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: gold;
}
.medtolarge .card .card-content p {
    margin-left: 63px;
    font-size: 1.9rem;
}
.card .card-content p {
    margin-left: 10px;
    font-size: 1.5rem;
}
.medtolarge .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: gold;
    margin: 0px;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: gold;
    margin: 10px;
}
.card {
    margin: 4.5rem 0 4.5rem 0;
}

.card img {
    padding: 20px;
    
}
.parallax-container {
    height: 600px;
}
.worstgen .card {
    margin-top: 8rem;
    background-color: #1952a1c6;
}

.worstgen .card .card-action {
    background-color: #1952a100;
}

.worstgen .card .card-content p{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    line-height: 4rem;
}
@media only screen and (min-width: 993px){
    .about-us .container {
    width: 84%;
    }
}
.blue.darken-3 {
    background-color: #1951A1 !important;
}
.worstgen .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    border-radius: 2rem;
    background-color: rgb(159, 13, 13);
    width: 20rem;
    border: 5rem;
    text-align: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
    color: white;
}
a.waves-effect.waves-light.btn-small {
    background-color: rgb(159, 13, 13);
}


.marineford .card {
    background-color: #1952a1c6;
    margin-top: 23.5rem;
    font-family: 'Josefin Sans', sans-serif;
}
.marineford-card {
    margin-left: 35px;
}
.marineford .card-content p {
    font-size: 2.5rem;
    font-weight: bolder;
}
.marineford .card-content .new {
    font-size: 3.9vw;
}
.parallax-container .parallax img{
    min-width: 100%;
    min-height: 100%;
}
.news img {
    height: 500px;
}
.news h1 {
    margin: 2.8rem 0 -3.32rem 0;
}
.news .prev-button a {
    background-color: rgba(128, 128, 128, 0.584);
}
.news .prev-button i {
    padding-top: 1rem;
}
.news .next-button {
    margin-left:93.75%
}
.news .next-button a {
    background-color: rgba(128, 128, 128, 0.584);
}
.news .next-button a i{
    padding-top: 1rem;
}
@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 150px;
    }
}


.dropdown-content li>a, .dropdown-content li>span {
    font-size: 16px;
    color: #1952a1c6;
    display: block;
    line-height: 22px;
    padding: 14px 10px;
    font-weight: bold;
}
.carousel .indicators {
    bottom: 8%;
}
.carousel .indicators .indicator-item.active {
    background-color:#1952a1c6;
}
.carousel .indicators .indicator-item {
    background-color:#88b9fec6
}

.headline a:hover {
    text-decoration: underline;
}
.headline {
    margin: 3rem auto;
}

.headline1 {
    height: 45rem !important;
}
.prev-button .btn {
    height: 70px;
    padding-right: 4px;
    padding-left: 10px;
}
.next-button .btn {
    height: 70px;
    padding-left: 7px;
    padding-right: 7px;
}
.news p.flow-text.head{
    font-size: 3.25rem; font-weight:bold;
}
.news p.flow-text.body{
    font-size: 1.5rem;
}

.input-field .prefix ~ label {
    margin-left: 3rem;
    color: white;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .helper-text, .input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
    
}
.datepicker-calendar {
    color: black;
}
.input-field .prefix.active{
    color: white;
}
#message {
    color: white;
}
#email {
    color: white;
}
#date {
    color: white;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: white;
}
@media screen and (max-width: 1200px){
    .news p.flow-text.head{
        font-size: 2.75rem; font-weight:bold;
    }
    .news p.flow-text.body{
        font-size: 1.25rem;
    }
    .news .next-button {
        margin-left:92%
    }
    .carousel .indicators {
        bottom: 8%;
    }
    .marineford .row .col.l4 {
        width: 48.333333%;
    }
    .worstgen .card .card-content p {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
}
@media screen and (max-width: 1000px){
    .news p.flow-text.head{
        font-size: 2.50rem; font-weight:bold;
    }
    .news p.flow-text.body{
        font-size: 1.2rem;
    }
    .news .next-button {
        margin-left:91%
    }
    .carousel .indicators {
        bottom: 5%;
    }
    .worstgen .card .card-content p {
        font-size: 2rem;
        line-height: 3rem;   
    }
    .worstgen .card .card-content {
        padding: 19px
    }
    .marinecard.col.l4 {
        width: 48.333333%;
    }
    .marineford .card {
        margin-top: 20.5rem
    }
    .parallax-container {
        height: 500px;
    }
}
@media screen and (max-width: 960px){
    .news p.flow-text.head{
        font-size: 2.50rem; font-weight:bold;
    }
    .news p.flow-text.body{
        font-size: 1.5rem;
    }
    .news .next-button {
        margin-left:92%
    }
    .carousel .indicators {
        bottom: 2%;
    }
    .parallax-container {
        height: 470px;
    }
    .marineford .card {
        margin-top: 18.5rem;
    }
    .marineford .row .col.l4 {
        width: 49.333333%;
    }
    .marinecard.col.offset-m2{
        margin-left: 25.666667%;
    }
    .worstgen .card .card-content p{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .marineford .card-content .new {
        font-size: 5.7vw;
    }
}

@media screen and (max-width: 700px){
    .marineford .parallax-container {
        height: 300px;
    }
    .marinecard.col.m8 {
        width: 46.666667%;
    }
    .marinecard.col.offset-m2 {
        margin-left: 25.666667%;
    }
    .marineford .card-content .new {
        font-size: 4.7vw;
    }
    .marineford .card-content p {
        font-size: 1.5rem;
    }
    .marineford .card {
        margin-top: 10.5rem;
    }
    .wanted-button .btn-small {
        font-size: 10px;
    }
    .wanted-button .card-action {
        padding: 9px 24px;
    }
    .worstgen .card .card-content p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 10px;
    }
    .worstgen .card .card-content {
        padding: 10px;
    }
    .parallax-container {
        height: 300px;
    }
    .wanted-button .btn-small {
        font-size: 8px;
    }
    .worstgen .card {
        margin-top: 3rem;
    }

    .marineabout .card-content {
        padding: 10px;
    }

    .about-us img {
        padding: 14px;
    }
    .news img {
        height: 354px;
    }
    .news p.flow-text.head{
        font-size: 1.75rem; font-weight:bold;
    }
    .news p.flow-text.body{
        font-size: 1.11111rem;
    }
    .news .next-button {
        margin-left:89%
    }
    .headline {
        width: 93%;
    }
    .carousel .indicators {
        bottom: 25%;
    }
    .next-button {
        visibility: hidden;
    }
    .prev-button {
        visibility: hidden;
    }
    
}
@media screen and (max-width: 560px){
    .marineford .row .col.l4 {
        width: 56.333333%;
    }
    .marinecard.col.offset-m2 {
        margin-left: 20.666667%;
    }
    .news p.flow-text.head{
        font-size: 1.25rem;
    }
    .news p.flow-text.body{
        font-size: 1rem;
    }
    .marineford .parallax-container {
        height: 230px;
    }
    .marineford .card {
        margin-top: 6.5rem;
    }
    .worstgen .card .card-content p {
        font-size: 1.2em;
        line-height: 2.5rem;
        padding: 0px;
    }
    .worstgen .col.s12 {
        width: 85%;
        margin-left: 30px;
        left: auto;
        right: auto;
    }
    .headline1 {
        height: 33rem !important;
    }
    .carousel .indicators {
        bottom: -3%;
    }
    .news .card .card-content {
        padding: 24px 17px 23px 0px;
        border-radius: 0 0 2px 2px;
    }
}
@media screen and (max-width: 426px){
    .marineford .row .col.l4 {
        width: 73.333333%;
    }
    .marinecard.col.offset-m2 {
        margin-left: 12.666667%;
    }
    .news p.flow-text.head {
        font-size: 1rem;
    }
    .news p.flow-text.body{
        font-size: 0.7rem;
    }
    .marineford .parallax-container {
        height: 200px;
    }
    .worstgen .parallax-container {
        height: 200px;
    }
    .marineford .card {
        margin-top: 4.5rem;
    }
    .worstgen .card .card-content p {
        font-size: 1rem;
        line-height: 2rem;
        padding: 0px;
    }
    .worstgen .card {
        margin-top: 2rem;
    }
    .wanted-button .card-action {
        padding: 6px 24px;
    }
    .wanted-button .btn-small {
        font-size: 9px;
    }
    .headline1 {
        height: 32rem !important;
    }
    .news img {
        height: 239px;
    }
    .news .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
        font-size: 10px;
    }
    .news .card .card-action {
   
        padding: 8px 24px;
    }
    .news .card .card-content {
        padding: 24px 17px 11px 0px;
        border-radius: 0 0 2px 2px;
    }
    .news .headline1 {
        height: 25rem !important;
    }
}
@media screen and (max-width: 376px){
    .marineford .card .card-content {
        padding: 14px;
        border-radius: 0 0 2px 2px;
    }
    .marineford .row .col.l4 {
        width: 79.333333%;
    }
    .marinecard.col.offset-m2 {
        margin-left: 10.666667%;
    }
    .about-us .card-content {
        text-align: center;
    }
    .about-us .card-action {
        text-align: center;
    }
    .worstgen .btn-small {
        height: 21.4px;
        line-height: 21.4px;
        font-size: 8px;
    }
    .carousel .indicators {
        bottom: -5%;
    }
    .news p.flow-text.body {
        font-size: 0.6rem;
    }
}
